header {
    display: flex;
    justify-content: space-between;

    font-family: 'Josefin Sans', sans-serif;
       

}
.zaholovok{
    display: flex;
    justify-content: space-around;
    background-color: rgb(226, 224, 220);
    padding: 20px ;
    width: 45%;

}
.buttons {
    display: flex;
    justify-content: space-around;


}


.searchm input {
    width: 300px;
    height: 38px;
    padding-left: 10px;
    border: 0 solid #000000;
    border-radius: 3px;
    outline: none;
    background: #ffffff;
    margin: 0 0 0 20px;

}

.searchm button {
    position: absolute;
    width: 42px;
    height: 42px;
    border: 0 solid rgb(61, 61, 61);
    cursor: pointer;
   background-color:  rgb(226, 224, 220);
}
.meny{
    padding: 20px;
    background-color: #cccac8;
    width: 55% ;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 0px;
    height: 0px;
}

.head {
    color: rgb(61, 61, 61);
    font-weight: bold;
    width: 100px;
    height: 42px;
    border-radius: 3px;
    background: #cccac8;
    transition: 0.2s;
    margin: 0 8px 0 0;
    font-family: 'Josefin Sans', sans-serif;
    border: 2px solid #cccac8;
}

.head1:hover {
    border: 2px solid rgb(61, 61, 61);

}


main {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-between;

}
.main1 {
    background-color: #b9b8b6;
    padding: 20px;
}
.main2 {
    padding: 20px;
    background-color: white;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    padding: 20px 20px 12px 20px;
}

a{
    text-decoration: none;
}